.header{
  width:100vw;

}
.footer{
  width:100vw;
  height:10vh;
}

.sidebar{
  width:15vw;
  height:80vh;
}
.main{
  height:80vh;
  width: 85vw;
}
.styles{
  margin-top: 400px;
}
.text-style{
  color: white;
}


.h-style {
  height: 60vh;
}
.w-style{
width:30vw;  
}